[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng
[submodule "mkpsxiso"]
	path = mkpsxiso
	url = https://github.com/lameguy64/mkpsxiso
[submodule "nxflash"]
	path = nxflash
	url = https://github.com/danhans42/nxflash/
[submodule "psexe2rom"]
	path = psexe2rom
	url = https://github.com/alex-free/psexe2rom/
[submodule "freepsxboot/FreePSXBoot"]
	path = freepsxboot/FreePSXBoot
	url = https://github.com/alex-free/FreePSXBoot
[submodule "gshax-tool"]
	path = gshax-tool
	url = https://github.com/alex-free/gshax-tool
[submodule "pcsx-redux-support"]
	path = pcsx-redux-support
	url = https://github.com/pcsx-redux/support
